@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
    font-family: "Quicksand", sans-serif;
}

.top_row {
    display:flex;
    flex-direction:row;
}

.articles_column, .authors_column {
    flex-basis:50%;
}

.categories_column {
    display:flex;
    flex-direction:column;
}